@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --sand-50: #fafaf9;
  --sand-100: #f5f5f4;
  --sand-200: #e7e5e4;
  --maroon-invofest: #7b1d3f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--sand-100);
  color: #1c1917;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--sand-100);
}

::-webkit-scrollbar-thumb {
  background: var(--sand-200);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d6d3d1;
}


@keyframes soft-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-soft {
  animation: soft-bounce 3s ease-in-out infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-gradient-maroon {
  background: linear-gradient(to right, var(--maroon-invofest), #c9395e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
